.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;   
}

.box input {
    width: 50%;
    height: 38px;
    margin-top: 10px;
    border-radius: 8px;
    border: #AEAEAE solid 1px;
    padding-left: 12px;
}

.box input::placeholder {
    color: rgba(174, 174, 174, 1);
  }

.filterBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 40px;
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 5px;
}

.filter button {
    border: none;
    background-color: transparent;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.filterBlockButton {
    border: none;
    background-color: rgba(243, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

.filterBlockButton:hover {
    background-color: rgba(178, 8, 8, 1);
}

.elementBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element {
    border: 1px rgba(0, 0, 0, 1) solid;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

.elementHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 12px 10px 12px 10px;
}

.elementTitleIdBlock {
    display: flex;
}

.elementHeader button {
    border: none;
    background-color: transparent;
}

.elementId {
    height: 26px;
    width: 44px;
    border-radius: 8px;
    border: 1px solid #D7D7D7;
    text-align: center;
    background-color: #F0F0F0;
    color: #4E4E4E;
    margin: 0 14px 0 14px;
}

.elementBody {
    padding: 15px 10px 15px 10px;
}

.switch {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.switch path {
    fill: rgba(0, 0, 0, 1);
}

.switch:hover path {
    fill: rgba(82, 186, 0, 1);

}

.arrowBlock {
    margin-right: 10px;
}

.arrowBlock:hover .arrow { 
    fill: rgba(82, 186, 0, 1);
    ;
}

.arrowBlock:hover .arrowButton { 
    color: rgba(82, 186, 0, 1);
    ;
}

.arrow {
    width: 10px;
    height: 15px;
    fill: rgba(0, 0, 0, 1);
}

.arrowButton {
    color: rgba(0, 0, 0, 1);
}

.daw:hover path{
    fill: rgba(82, 186, 0, 1);
}



